/*Globals*/
h2 {
  font-size: 36px;
}

body {
  text-align: center;
}

section {
  padding: 20px;
}

h1,
h2,
h3,
p {
  color: white;
  padding: 10px;
  font-family: Helvetica;
}

/*Estilo de la Sección 1 */
.banner {
  background-image: url('../images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 400px;
}

.banner h1 {
  font-size: 64px;
}

/*Estilo de la Sección 2 */
.sobre-mi {
  background-color: #7299fe;
}

/*Estilo de la Sección 3 */
.skills {
  background-color: blueviolet;
}

/*Estilo de la Sección 4 */
.portafolio {
  background-color: #ffd233;
}

.portafolio .imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portafolio .imagenes figure {
  padding: 10px;
}

/*Estilo de la Sección 5 */
.clientes {
  background-color: #3f4e62;
}

.clientes ul {
  display: flex;
  list-style-type: none ;
}

.clientes ul li {
  padding: 80px;
}

/*Estilo del footer */
footer {
  background-color: #9c9c9c;
  padding: 20px;
}

input {
  padding: 20px;
  width: 300px;
  margin: 10px
}

textarea {
  width: 700px;
}