/*Globals*/
body {
  font-family: arial;
  font-size: 13px;
  line-height: 1.5;
}


/*Section 1*/
.history h2 {
  color: rgb(65, 197, 98);
}

.history p {
  color: teal;
}
/*Section 2*/
.geography h2 {
  color: rgb(148, 140, 71);
}

.history p {
  color: gray;
}

/*Section 3*/
.economy h2 {
  color: rgb(96, 22, 139);
}

.economy p {
  color: turquoise;
}

/*Section 4*/
.culture h2 {
  color: rgb(30, 8, 51);
}

.culture p {
  color: indigo;
}
