/*Globals*/
* {
  margin: 0;
}
p {
  font-family: arial;
  font-size: 16px;
  padding: 20px;
}

h2 {
  padding: 20px;
}

/*Estilos de header */
header {
  background-color: red;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 42px;
}

/*Estilos de section 1*/
.sub-1 {
  background-color: blue;
  color: white;
  font-size: 28px;

}

.sub-1 h2 {
  color: #ebff00;
  
}

.sub-1 div {
  display: flex;
  
}

.sub-1 div figure {
  padding: 20px;
}

/*Estilos Section 2 */
.sub-2 {
  background-color: orange;
  color: white;
  font-size: 28px;
}

.sub-2 h2 {
  color: #FF00A8;
}

.sub-2 div {
  display: flex;
}

.sub-2 div figure {
  padding: 20px;
}

/*Estilos de footer */
footer {
  background-color: red;
  color: white;
  text-align: center;
}
